{% extends "../base.html" %}
{% load static %}
{% block title %}Basket Summary{% endblock %}
{% block content %}
  <main class="container">
    <div style="margin-bottom: 32px" class="margin-top-50 mx-4">
      <div class="d-flex mb-4">
        <h2>Your Cart</h2>
      </div>
      <div class="row">
        <div class="col-8">
          <table class="table table-borderless">
            <thead>
              <tr class="border-bottom">
                <th class="ps-0 py-3 text-muted col-7">Product</th>
                <th class="py-3 text-muted text-center col">Quantity</th>
                <th class="py-3 pe-0 text-muted text-end col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in basket %}
              {% with product=item.product %}
              <tr data-index="{{ product.id }}" class="product-item">
                <td style="padding-top: 32px;" class="ps-0 pb-0 col-7">
                  <div class="d-flex">
                    <a href="{{ product.get_absolute_url }}" class="w-25 me-4">
                      <img src="{{ product.image.url }}" alt="Product Image" class="w-100">
                    </a>
                    <div class="d-flex flex-column py-2">
                      <h5 style="margin-bottom: 4px">{{ product.title }}</h5>
                      <p style="font-size: 0.85rem" class="fw-light">{{ product.category.name }}</p>
                      <div class="mt-auto">
                        <p class="mb-0">{{ product.price }} €</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="padding-top: 32px;" class="pb-0 col">
                  <div class="d-flex flex-column align-items-center pt-2">
                    <div class="input-group input-group-sm w-50">
                      <button data-index="{{ product.id }}" class="input-group-text update-delete-by-one-button"><svg class="bi bi-dash" width="16" height="16"><use xlink:href="#minus"/></svg></button>
                      <input type="text" id="product-qty{{ product.id }}" style="cursor: default;" class="form-control text-center" value="{{ item.qty }}" readonly>
                      <button data-index="{{ product.id }}" class="input-group-text update-add-by-one-button"><svg class="bi bi-plus" width="16" height="16"><use xlink:href="#plus"/></svg></button>
                    </div>
                    <div class="mt-3">
                      <p data-index="{{ product.id }}" style="font-size: 0.85rem; text-decoration: underline; cursor: pointer;" class="text-secondary delete-from-basket-button">Delete</p>
                    </div>
                  </div>
                </td>
                <td style="padding-top: 32px;" class="pb-0 pe-0 col">
                  <div class="d-flex justify-content-end">
                    <p style="font-size: 0.95rem" class="mb-0 pt-2 text-end fw-bold w-100">
                      <span id="product-price{{ product.id }}">{{ item.total_price }}</span>
                      <span>€</span>
                    </p>
                  </div>
                </td>
              </tr>
              {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
          <div class="sticky-top">
            <div style="padding: 13.4px 0px" class="border-bottom">
                <h4 class="mb-0">Sub Total</h4>
            </div>
            <div>
              <div class="border-bottom pb-4 mt-4">
                <div class="d-flex align-items-center">
                  <h6 class="fw-normal mb-0 flex-grow-1">Price of products</h6>
                  <div style="font-size: 0.95rem">
                    <span id="subtotal">{{ basket.get_total_price }}</span>
                    <span>€</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <a role="button" href="{% url 'payment:basket' %}" class="btn btn-primary fw-bold w-100" type="button">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    $(document).on('click', '.delete-from-basket-button', function (e) {
        e.preventDefault();
        var prodid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url "store_basket:basket_delete" %}',
            data: {
                productid: $(this).data('index'),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'delete'
            },
            success: function (json) {
              $('.product-item[data-index="' + prodid + '"]').remove();
              document.getElementById("basket-qty").innerHTML = json.qty
              document.getElementById("subtotal").innerHTML = json.subtotal
            },
            error: function (xhr, errmsg, err) {}
        });
    })

    $(document).on('click', '.update-add-by-one-button', function (e) {
      e.preventDefault();
      var prodid = $(this).data('index');
      $.ajax({
          type: 'POST',
          url: '{% url "store_basket:basket_update" %}',
          data: {
              productid: $(this).data('index'),
              productqty: 1,
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'post'
          },
          success: function (json) {
            document.getElementById("basket-qty").innerHTML = json.qty
            document.getElementById("subtotal").innerHTML = json.subtotal
            document.getElementById("product-price" + prodid).innerHTML = json.productprice
            document.getElementById("product-qty" + prodid).value = json.productqty
          },
          error: function (xhr, errmsg, err) {}
      });
  })

  $(document).on('click', '.update-delete-by-one-button', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
        type: 'POST',
        url: '{% url "store_basket:basket_update" %}',
        data: {
            productid: $(this).data('index'),
            productqty: 1,
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'delete'
        },
        success: function (json) {
          document.getElementById("basket-qty").innerHTML = json.qty
          document.getElementById("subtotal").innerHTML = json.subtotal

          if (json.productqty > 0 && json.productprice > 0) {
            document.getElementById("product-qty" + prodid).value = json.productqty
            document.getElementById("product-price" + prodid).innerHTML = json.productprice
          }else {
            $('.product-item[data-index="' + prodid + '"]').remove();
          }
        },
        error: function (xhr, errmsg, err) {}
    });
})
</script>

{% endblock %}