{% extends "../base.html" %}
{% load static %}
{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="container">
    <main class="pt-5 margin-bottom-50">
        <div class="row g-3 align-items-center">
            <div class="col-md-4 col-lg-4 order-md-first">
                <img style="max-width: 430px;" class="img-fluid mx-auto d-block" alt="Product Image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-8 col-lg-8 p-md-3 p-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p class="mb-3"><span class="fw-light">{{ product.category.name }}</span></p>
                <p class="mb-4">{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">
                                <h3 style="font-size: 1.1rem" class="display-6 fw-normal">Цена</h1>
                            </div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">{{ product.price }} ден.</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3 align-items-center">
                            <div class="col-6">
                                <div class="d-flex w-100">
                                    <label style="padding-top: 4px;" class="me-3" for="select">Количина</label>
                                    <input id="product-quantity" type="number" style="width: 20%" class="form-control form-control-sm text-center" value="1" min="1">
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <button type="button" id="add-to-basket-button" value="{{ product.id }}" class="btn btn-sm btn btn-primary p-2">Додади во кошничка</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

<script>
    $(document).on('click', '#add-to-basket-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "store_basket:basket_add" %}',
            data: {
                productid: $('#add-to-basket-button').val(),
                productqty: $('#product-quantity').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>
{% endblock %}